<template>
  <v-container fill-height>
    <v-layout align-center justify-center>
      <v-btn flat color="orange" >
       <button v-on:click = "greet"> <font size="+2.8">Ver Evento</font> </button>
      </v-btn>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'ButtonVerEvento',

  methods: {
    greet: function () {
      if (this.IDM == null) {
        alert('Selecciona un evento')
      } else {
        alert('Descargara el QR' + ' ' + this.IDM)
        //  var id = "uno.jpg";
        var url = 'http://192.168.10.10/download/' + this.IDM
        window.open(url)
      }
    }
  }
}
</script>

<style scoped>

</style>
