<template>
    <div>
    <google-button></google-button>
    </div>
</template>

<script>
export default {
  name: 'ButtonSign',
  methods: {
    say: function (message) {
      alert(message)
    }
  }
}
</script>

<style scoped>
    img {
        height: 20vh;
        width: 90vw;
        object-fit: contain;
    }
    #button{
        height: 10vh;
        width: 64vw;
    }
</style>
