<template>
    <v-card>
        <v-container fill-height>
            <v-layout align-center justify-center>
                <v-btn color="red lighten-2" dark>
  <div id="example-2">
      <button v-on:click ="greet" download = "archivo"><font size="+2.5">DESCARGAR</font></button>
</div>
                </v-btn>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>

export default {
  name: 'Button',
  data: function () {
    return {
      archivo: null
    }
  },
  methods: {
    greet: function () {
      alert('Descargara el QR')
      var id = 'uno.jpg'
      var url = 'http://192.168.10.10/download/' + id
      window.open(url)
    }
  }
}
</script>

<style scoped>
</style>
