<template>
    <v-card>
        <v-layout align-center justify-center>
            <v-btn color="red lighten-2" dark>
                <font size="+2.8">Leer QR </font>
            </v-btn>
        </v-layout>
    </v-card>
</template>

<script>
export default {
  name: 'ButtonLeerQR'
}
</script>

<style scoped>

</style>
