<template>
    <div class="px-3">
        <QrcodeReader
                :paused="paused"
                @decode="onDecode"
                @init="onInit">
            <div v-show="paused" class="validation-layer">
                <div class="decode-result">
                  <!--  <u>Lectura:</u>: {{ content }} -->
                </div>

                <div class="validation-notice">
                    <div v-if="validating">
                        Verificando contenido del QR...
                    </div>

                    <div v-else-if="isValid" class="text-success">
                        <div v-if="tipo==='EV'" class="text-success">
                        Registrado exitosamente en: {{ nombreEvento }}
                        </div>
                        <div v-else class="text-success">
                            Se registro exitosamente a: {{ nombreEvento }}
                        </div>

                    </div>

                    <div v-else class="text-danger">
                        No se pudo encontrar el evento
                    </div>
                </div>
            </div>

            <LoadingIndicator v-show="loading" />
        </QrcodeReader>
    </div>
</template>

<script>
import { QrcodeReader } from 'vue-qrcode-reader'
import InitHandler from '@/mixins/InitHandler'
import axios from 'axios'

export default {
  components: {QrcodeReader},
  mixins: [ InitHandler ],
  name: 'CameraView',
  data () {
    return {
      isValid: false,
      validating: false,
      paused: false,
      content: null,
      nombreEvento: null,
      active: null,
      text: 'test',
      tipo: null

    }
  },

  methods: {

    next () {
      const active = parseInt(this.active)
      this.active = (active < 2 ? active + 1 : 0)
    },

    async onDecode (content) {
      // console.log(content)
      var id = null
      // var tipo = 'null'

      this.nombreEvento = null
      this.content = content

      var stringSplit = this.content.split('-')
      id = stringSplit[1]
      this.tipo = stringSplit[0]

      // console.log(id)
      // console.log(this.tipo)

      if (this.tipo === 'EV') {
        axios.get('http://192.168.10.10/consultarEvento/' + id)
          .then(response => {
            (this.nombreEvento = response.data.nombre)
            axios.post('http://192.168.10.10/api/registrarAlumno?eventoId=' + id + '&alumnoId=1')
              .then(response => {
              // TODO
              }).catch(function (error) {
                console.log(error)
              })
          })
          .catch(function (error) {
            console.log(error)
          })
      } else {
        if (this.tipo === 'AL') {
          axios.get('http://192.168.10.10/api/consultarUsuario/' + id)
            .then(response => {
              (this.nombreEvento = response.data.name)
              axios.post('http://192.168.10.10/api/registrarAlumno?eventoId=1&alumnoId=' + id)
                .then(response => {
                  // TODO
                }).catch(function (error) {
                  console.log(error)
                })
            })
            .catch(function (error) {
              console.log(error)
            })
        }
      }

      // TEST Hardcodeado el alumno 1

      this.pauseCamera()
      this.validating = true
      this.isValid = await this.validate(content)
      this.validating = false
      window.setTimeout(() => {
        this.unPauseCamera()
      }, 2000)
    },

    pauseCamera () {
      this.paused = true
    },

    unPauseCamera () {
      this.paused = false
    },

    validate (content) {
      return new Promise(resolve => {
        window.setTimeout(() => { // pretend it's taking really long
          if (this.nombreEvento !== null) {
            resolve(true)
          } else {
            resolve(false)
          }
        }, 3000)
      })
    }
  }
}
</script>

<style scoped>
    h1, h2 {
        font-weight: normal;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }

    .validation-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .8);
        text-align: center;
        padding: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .validation-notice {
        font-weight: bold;
        font-size: 1.4rem;
    }
    .decode-result {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-style: italic;
    }
    .text-success{color:#28a745!important}
    .text-danger{color: #a7000d !important}
</style>
