<template>
    <div>
        <v-container fluid>
            <v-layout row wrap align-left>
                <v-flex xs12 sm6 id="inspire">
                    <v-select attach='#inspire'
                              label="EVENTOS"
                            outline
                            :items="items"
                            item-text="nombre"
                              v-on:change="onChange"
                              item-value="id"
                    ></v-select>
                </v-flex>
            </v-layout>
            <div class="title mb-1"><center>Código QR de Evento</center></div>
            <v-divider></v-divider>
            <v-layout justify-space-around>
                <v-flex x12>
                    <v-layout column align-center>
                        <img :src="qrSrc" :aspect-ratio="5">
                    </v-layout>
                </v-flex>
            </v-layout>
            <div id="element1">
            <v-layout align-center justify-center>
                <v-btn color="red lighten-2" dark>
                    <div id="example-2">
                        <button v-on:click ="greet"> <font size="+2.8">DESCARGAR</font></button>
                    </div>
                </v-btn>
            </v-layout>
            </div>
            <div id="element2"><QRCamera/></div>
        </v-container>
    </div>
</template>

<script>
import axios from 'axios'
import QRCamera from '../ViewComponents/QRCamera'

export default {
  name: 'Button',
  components: {QRCamera},
  data () {
    return {
      items: ['Evento 1', 'Evento 2', 'Evento 3', 'Evento 4'],
      qrSrc: '',
      IDM: null
    }
  },
  mounted () {
    let self = this
    axios
      .get('http://192.168.10.10/listarEventos')
      .then(function (response) {
        self.items = response.data
        // alert(self.items[0].id)
        self.qrSrc = `http://192.168.10.10/EV-${self.items[0].id}.svg`
        // axios.get('http://192.168.10.10/obtenerQREvento/' + self.items[0]).then(response => (self.qrSrc = response.data))
      })
      .catch(function (error) {
        alert(error)
      })
  },
  methods: {
    onChange: function (event) {
      // alert(event)
      this.IDM = event
      axios
        .get('http://192.168.10.10/obtenerQREvento/' + event)
        .then(response => (this.qrSrc = response.data))
    },
    greet: function () {
      if (this.IDM == null) {
        alert('Selecciona un evento')
      } else {
        alert('Descargara el QR' + ' ' + this.IDM)
        //  var id = "uno.jpg";
        var url = 'http://192.168.10.10/download/' + this.IDM
        window.open(url)
      }
    }
  }
}
</script>

<style scoped>
    img {
        height: 40vh;
        width: 70vw;
    }
    container{
        height: 100vh;
        width: 100vw;
    }
    #element1 {float:left;width:50%;}
    #element2 {float:right;width:50%;}
</style>
