<template>
  <g-signin-button
    :params="googleSignInParams"
    @success="onSignInSuccess"
    @error="onSignInError">
    Sign in with Google
  </g-signin-button>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      /**
         * The Auth2 parameters, as seen on
         * https://developers.google.com/identity/sign-in/web/reference#gapiauth2initparams.
         * As the very least, a valid client_id must present.
         * @type {Object}
         */
      googleSignInParams: {
        client_id: '1058391286879-geltpjv2m1krospdund4fh8c7pmp6dl7.apps.googleusercontent.com',
        secret: 'nPI3V7RvV9ybm01jeGEfRrcj',
        fetch_basic_profile: false,
        scope: 'profile email openid'
        // hosted_domain: 'uabc.edu.mx'
      }
    }
  },
  methods: {
    onSignInSuccess (googleUser) {
      // `googleUser` is the GoogleUser object that represents the just-signed-in user.
      // See https://developers.google.com/identity/sign-in/web/reference#users
      const profile = googleUser.getBasicProfile() // etc etc
      const AuthResponse = googleUser.getAuthResponse()
      console.log(profile)
      console.log(AuthResponse)
      axios
        .post('http://localhost:8000/api/auth/google/token', {
          body: {
            info: JSON.stringify(profile)
          },
          params: {
            access_token: AuthResponse.access_token,
            provider: AuthResponse.idpId
          }
        }).then((response) => {
          console.log(JSON.parse(response.data))
          console.log(response.data)
          console.log(response.data.token)
        }).catch((error) => {
          console.log(error.response.data)
        })
    },
    onSignInError (error) {
      // `error` contains any error occurred.
      console.log('OH NOES', error.toString())
    }
  }
}
</script>

<style>
  .g-signin-button {
    /* This is where you control how the button looks. Be creative! */
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #3c82f7;
    color: #fff;
    box-shadow: 0 3px 0 #0f69ff;
  }
</style>
