<template>
            <div class="text-xs-center">
                <v-dialog
                        v-model="dialog"
                        width="500"
                >
                    <v-btn
                            slot="activator"
                            color="red lighten-2"
                            dark
                    >
                        <font size="+2.8">Leer QR</font>
                    </v-btn>

                    <v-card>
                        <v-card-title
                                class="headline grey lighten-2"
                                primary-title
                        >
                            Ingresa QR
                        </v-card-title>
                            <div>
                                <CameraView/>
                            </div>
                        <!--<v-card-text>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </v-card-text>-->

                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="primary"
                                    flat
                                    @click="dialog = false"
                            >
                                Cerrar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
</template>

<script>
import CameraView from './CameraView'
export default {
  components: {CameraView},
  data () {
    return {
      dialog: false
    }
  }

}
</script>

<style scoped>
    #element1 {float:left;width:50%;}
    #element2 {float:right;width:50%;}
</style>
