<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title id="demo"></v-toolbar-title>
            <v-divider
                    class="mx-1"
                    inset
                    vertical
            ></v-divider>
            <v-dialog v-model="dialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.name" label="Dessert name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field v-model="editedItem.calories" label="Calories"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <center><font size="+5">TU CARNET</font></center>
        <v-data-table id="tabla"
                :headers="headers"
                :items="images"
                hide-actions
                class="elevation-1"
                hide-headers
        >
            <template slot="items" slot-scope="props">
                <td class="text-xs-center">
                    <div v-if="props.item.name==='No Sello'">
                        <img src="./CIMARRONtrans.png" height="70vh" width="70vh"/>
                    </div>
                    <div v-if="props.item.name==='Sello'">
                        <img src="./CIMARRON.png" height="70vh" width="70vh"/>
                    </div>
                </td>
                <td class="text-xs-center">
                    <div v-if="props.item.name2==='No Sello'">
                        <img src="./CIMARRONtrans.png" height="70vh" width="70vh"/>
                    </div>
                    <div v-if="props.item.name2==='Sello'">
                        <img src="./CIMARRON.png" height="70vh" width="70vh"/>
                    </div>
                </td>
                <td class="justify-center layout px-0">
                </td>
            </template>
            <template slot="no-data">`
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
        <QRCamera/>
    </div>
</template>

<script>
import QRCamera from './QRCamera'
import axios from 'axios'
export default {
  components: {QRCamera},
  data: () => ({
    dialog: false,
    headers: [
    ],
    images: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      calories: 0
    }
  }),
  mounted () {
    axios.get('http://192.168.10.10/infoUsuario/1').then(response => { document.getElementById('demo').innerHTML = 'Hola, ' + response.data['name'].toString() })
    axios.get('http://192.168.10.10/obtenerSellos/1').then(response => (this.changeStamps(response.data)))
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },
  methods: {
    initialize () {
      this.images = [
        {
          name: 'No Sello', name2: 'No Sello'
        },
        {
          name: 'No Sello', name2: 'No Sello'
        },
        {
          name: 'No Sello', name2: 'No Sello'
        },
        {
          name: 'No Sello', name2: 'No Sello'
        }
      ]
    },
    changeStamps (items) {
      var im1 = 'No Sello'
      var im2 = 'No Sello'
      var im3 = 'No Sello'
      var im4 = 'No Sello'
      var im5 = 'No Sello'
      var im6 = 'No Sello'
      var im7 = 'No Sello'
      var im8 = 'No Sello'
      if (items.length === 1) {
        im1 = 'Sello'
      }
      if (items.length === 2) {
        im1 = im2 = 'Sello'
      }
      if (items.length === 3) {
        im1 = im2 = im3 = 'Sello'
      }
      if (items.length === 4) {
        im1 = im2 = im3 = im4 = 'Sello'
      }
      if (items.length === 5) {
        im1 = im2 = im3 = im4 = im5 = 'Sello'
      }
      if (items.length === 6) {
        im1 = im2 = im3 = im4 = im5 = im6 = 'Sello'
      }
      if (items.length === 7) {
        im1 = im2 = im3 = im4 = im5 = im6 = im7 = 'Sello'
      }
      if (items.length === 8) {
        im1 = im2 = im3 = im4 = im5 = im6 = im7 = im8 = 'Sello'
      }
      this.images = [
        {
          name: im1, name2: im2
        },
        {
          name: im3, name2: im4
        },
        {
          name: im5, name2: im6
        },
        {
          name: im7, name2: im8
        }
      ]
      this.update()
      this.refresh(true)
      this.reload()
    },
    editItem (item) {
      this.editedIndex = this.images.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.images.indexOf(item)
      confirm('Are you sure you want to delete this item?') && this.images.splice(index, 1)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.images[this.editedIndex], this.editedItem)
      } else {
        this.images.push(this.editedItem)
      }
      this.close()
    }
  }
}
</script>

<style scoped>
    div {
        height:80%;
        width:100%;
    }
    tabla{
        height:40vh;
        width:100vw;
    }
</style>
