<template>
    <div>
        <v-container fluid>
            <v-layout justify-space-around>
                <v-flex x12>
                    <v-layout column align-center>
                            <v-layout column align-center>
                            <div class="title mb-1"><font size="+2.8">Tu QR</font></div>
                            </v-layout>
                    </v-layout>
                </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout justify-space-around>
                <v-flex x12>
                    <v-layout column align-center>
                        <img :src="qrSrc" :aspect-ratio="5">
                    </v-layout>
                </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <div id="element1">
                <v-layout align-center justify-center>
                    <v-btn color="red lighten-2" dark>
                        <div id="example-2">
                            <button v-on:click ="greet"> <font size="+2.8">DESCARGAR</font></button>
                        </div>
                    </v-btn>
                </v-layout>
            </div>
        </v-container>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'AlumnoView',
  data () {
    return {
      qrSrc: '',
      IDM: 1
    }
  },
  mounted () {
    axios.get('http://192.168.10.10/obtenerQRAlumno/' + this.IDM).then(response => (this.qrSrc = response.data))
  },
  methods: {
    greet: function () {
      alert('Descargara el QR')
      //  var id = "uno.jpg";
      var url = 'http://192.168.10.10/downloadFileAlumno/' + this.IDM
      window.open(url)
    }
  }
}
</script>

<style scoped>
    img {
        height: 50vh;
        width: 90vw;
    }
</style>
