<template>
    <div>
        <EventsList/>
      <!--  <QRImage/>-->
     <!--   <div id="element1"><Button/></div><!<QRCamera/>-->
    </div>
</template>

<script>
import Button from './ViewComponents/Button'
import EventsList from './ViewComponents/EventsList'
import ButtonLeerQR from './ViewComponents/ButtonLeerQR'
import QRCamera from './ViewComponents/QRCamera'
export default {
  name: 'EventosView',
  components: {QRCamera, ButtonLeerQR, EventsList, Button}
}
</script>

<style scoped>

    #element2 {float:right;width:50%;}
</style>
