<template>
    <body>
    <div>
        <v-tabs
                centered
                color=rgb(51,49,49)
                dark
                icons-and-text
        >
            <v-tabs-slider></v-tabs-slider>

            <v-tab href="#tab-1">
                QR
                <v-icon>code</v-icon>
            </v-tab>

            <v-tab href="#tab-2">
                CAR-NET
                <v-icon>view_agenda</v-icon>
            </v-tab>

            <v-tab href="#tab-3">
                EVENTOS
                <v-icon>event=</v-icon>
            </v-tab>

                        <v-tab href="#tab-4">
                LISTA
                <v-icon>event=</v-icon>
            </v-tab>

            <v-tab-item
                    v-for="i in 4"
                    :id="'tab-' + i"
                    :key="i"
            >
                <div v-if="i===1">
                <v-card flat color=rgba(0,0,0,0)>
                    <AlumnoView/>
                </v-card>
                </div>
                <div v-if="i===2">
                    <v-card flat color=rgba(0,0,0,0)>
                        <CarnetView/>
                    </v-card>
                </div>
                <div v-if="i===3">
                    <v-card flat color=rgba(0,0,0,0)>
                        <EventosView/>
                    </v-card>
                </div>

                                <div v-if="i===4">
                    <v-card flat color=rgba(0,0,0,0)>
                        <ListaEventosView/>
                    </v-card>
                </div>

            </v-tab-item>
        </v-tabs>
  </div>
  </body>
</template>

<script>
import VTab from 'vuetify/lib/components/VTabs/VTab'
import ListaEventosView from './ListaEventosView'
import CarnetView from './CarnetView'
import AlumnoView from './AlumnoView'
import EventosView from './EventosView'
export default {
  name: 'HelloWorld',

  components: {CarnetView, EventosView, VTab, AlumnoView, ListaEventosView},
  data () {
    return {
      active: null,
      text: 'test'
    }
  },
  methods: {
    next () {
      const active = parseInt(this.active)
      this.active = (active < 2 ? active + 1 : 0)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
