<template>
  <div>
    <br>
    <center><font size="+4">Eventos</font></center>

      <div v-for="items in items" :items = 'items'>

        <v-layout>
          <v-flex xs12 sm6 offset-sm3>
            <v-card>
              <v-img
                      src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"

              ></v-img>

              <v-card-title primary-title>
                <div>
                  <h3 class="headline mb-0">{{ items.nombre }}</h3>
                  <div>{{ items.categoria }}</div>
                </div>
              </v-card-title>

              <v-card-actions>
                <v-dialog
        v-model="dialog"
        width="500"
      >
        <v-btn
          slot="activator"
          color="orange"
          flat
          dark
        >
          Ver evento
        </v-btn>

        <v-card>
          <v-card-title
            class="headline grey lighten-2"
            primary-title
          >
            {{items.nombre}}
          </v-card-title>

          <v-card-text>
            {{"Organizador: " +items.organizador}} <br/>
            {{"Duracion:" + items.duracion }} <br/>
            {{"Cantidad de sellos:" + items.num_sellos}} <br/>
            {{"Horario:" + items.horario}} <br/>

          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              flat
              @click="dialog = false"
            >
              close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>

      </div>

  </div>
</template>

<script>
import axios from 'axios'
import ButtonVerEvento from './ViewComponents/ButtonVerEvento'
export default {
  name: 'ListaEventosView',
  components: { ButtonVerEvento },
  data () {
    return {
      items: null,
      dialog: false

    }
  },
  mounted () {
    axios.get('http://192.168.10.10/listarEventos').then(response => (this.items = response.data))
  }

}
</script>

<style scoped>
.titulo {
  color: black;
}

.category {
  color: dimgrey;
}
</style>
