<template>
  <div class="loading-indicator">
    Procesando...
  </div>
</template>

<style lang="css">
.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;

  font-weight: bold;
  font-size: 2rem;

  transform: translate(-50%, -50%)
}
</style>
