<template>
    <div id="login">
        <div id="logoUABC">
            <img src="https://i.imgur.com/gKopPLL.png" width="80%" height="80%">
        </div>
        <div id="logoCarnet">
            <img src="https://i.imgur.com/YZx0vFx.png" width="100%" height="100%">
        </div>
        <div id="correoUABC">
            <img src="https://i.imgur.com/FFLUWPW.png" width="100%" height="80%">
        </div>
        <div>
            <ButtonSign/>
        </div>
    </div>
</template>

<script>
import ButtonSign from './ViewComponents/ButtonSign'
export default {
  components: {ButtonSign}
}
</script>

<style>
    #login {
        background-image: url("https://i.imgur.com/wpquehj.png");
        background-size: 100vw 100vh;
        height: 100vh;
        width: 100vw;
    }
    img {
        object-fit: contain;
    }
    #logoUABC {
        padding-left: 1em;
        height: 25vh;
        width: 60vw;
    }
    #logoCarnet{
        height: 20vh;
        width: 100vw;
    }
    #correoUABC{
        height: 12vh;
        width: 100vw;
    }
</style>
