<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  /*color: #007141;*/
  /*
  colorVerde: #007141;
  colorOcre: #F1A631
  colorAzul: #370097
  */
  margin-top: 1px;
  background: url("https://i.imgur.com/X9A0aAq.png");
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
}

</style>
